extends ./partials/layout

block content 

    h1 #{title}

    p Are you sure you want to delete #{file.name}?

    a(href=`/homepage/${folder.id}`) Go Back 

    form(action=`/homepage/${folder.id}/delete-file/${file.id}`, method="post") 
        button(type="submit") Delete